# https://nextjs.org/docs/app/building-your-application/configuring/environment-variables#bundling-environment-variables-for-the-browser
NEXT_PUBLIC_AZURE_B2C_AUTHORITY=
NEXT_PUBLIC_AZURE_B2C_CLIENT_ID=
NEXT_PUBLIC_AZURE_B2C_FLOW_EDIT_PROFILE
NEXT_PUBLIC_AZURE_B2C_FLOW_FORGOT_PASSWORD
NEXT_PUBLIC_AZURE_B2C_FLOW_SIGN_UP_SIGN_IN
NEXT_PUBLIC_AZURE_B2C_REDIRECT_URI=/auth
NEXT_PUBLIC_AZURE_B2C_TENANT_ID=
NODE_VERSION=20

NEXT_PUBLIC_